#navbar-menu {
    padding: 10px 0px;
}

#navbar-menu, .navbar-menu-header {
    box-shadow: none;
    border-bottom: none;
    font-family: Montserrat, sans-serif !important;
}



.page-section {
    height: calc(100vh - 85.14px) !important;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.special-page-section {
    height: calc(100vh - 85.14px) !important;
}

.page-section-header{
    /*font-size: 28px !important;*/
}

#landing-header{
    font-family: Montserrat, sans-serif !important;
}

#landing-chevron-icon{
    position: absolute;
    left: 50%;
    bottom: 20px;
}

#about-me{
    text-align: center;
    font-family: Montserrat, sans-serif !important;
}

#about-me-subheader{
    font-size: 1.2rem;
}

#about-me-languages-subheader{
    padding: 30px 0;
}

.not-displayed{
    display: none !important;
}

.mobile-about-me{
    margin-bottom: 20px !important;
}

/*
PERSONAL PROJECTS RULES
 */

#personal-projects-container{
    /*display: flex;*/
    height: 100% !important;

}

.personal-projects-container-row{
    flex: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row !important;
    height: 50% !important;
}

.personal-projects-container-column {
    display: flex;
    flex: 1;
    flex-direction: column !important;
    max-height: 100% !important;
}

.personal-projects-icon-links{
    padding: 0 10px;
}

.info-column{
    font-size: 4em;
    justify-content: center;
    padding: 0 60px;
}

.mobile-info-column{
    font-size: 14px;
    padding: 0 5px;
    justify-content: center;
}

#plpredictions-info-column,
#witluv-info-column{
    text-align: right;
}

#tombot-info-column{
    text-align: left;
}

#plpredictions-image-column{
    background: url('img/EPL-Logo.png') no-repeat center/30%;
}

#tombot-image-column{
    background: url('img/DiscordLogo.png') no-repeat center/30%;
}

#witluv-image-column{
    background: url('img/WitLuvLogo.png') no-repeat center/30%;
}

.mobile-plpredictions-image-column{
    background: url('img/EPL-Logo.png') no-repeat center/60% !important;
}

.mobile-tombot-image-column{
    background: url('img/DiscordLogo.png') no-repeat center/60% !important;
}

.mobile-witluv-image-column{
    background: url('img/WitLuvLogo.png') no-repeat center/60% !important;
}



